[Unit]
Description=I3DS node for left VZense ToF cameras
Requires=i3ds-address-server.service
After=i3ds-address-server.service
PartOf=i3ds.target

[Service]
ExecStart=i3ds_vzense_tof -c VD7101PJB7280788P -n 350 --filter-depth --filter-ir --filter-compute --filter-time -t 20
Restart=on-failure

[Install]
WantedBy=i3ds.target
