[Unit]
Description=Wait for usb
Before=i3ds-address-server.service
PartOf=i3ds.target

[Service]
Type=oneshot
ExecStart=/home/coyote/sintef/corobx-coyote/systemd/check_usb.sh

[Install]
WantedBy=i3ds.target