[Unit]
Description=I3DS address server
Before=i3ds-left-tof.service i3ds-right-tof.service i3ds-wisdom.service
Requires=network.target
PartOf=i3ds.target

[Service]
ExecStart=i3ds_address_server -c /etc/i3ds_addresses.csv
Restart=on-failure

[Install]
WantedBy=i3ds.target
